.firstContainer {
    background-color:rgb(34, 87, 122);
    width: 300x;
    height: 100px;
    color: white;
}
.icons {
    background-color: rgb(34, 87, 122);
    width: 1500px;
    height: 120px;
}
.secondContainer {
    
}
